/* SIDEBAR */
.sidebar {
      background: #38003a;
      padding: 0;
      text-align: center;
      order: +1;
      max-width: 500px;
    }
    #search-container-desktop {
      background-color: #450047;
      margin: 0;
      padding: 10px 0;
      border: #28001e solid 1px;
    }
    #search-container-desktop input {
      width: 80%;
      padding: 5px;
      border: none;
      background: #111;
      color: white;
    }
    #search-container-desktop button {
      padding: 5px 10px;
      background: #111;
      color: #d7c590;
      border: none;
      margin-top: 5px;
      cursor: pointer;
    } 
    #search-container-desktop h3 {
      margin: 0;
      padding: 5px 0; /* optional: add some space if you want balance */
    }

    .sidebar hr {
      width: 15%;
      margin: 40px auto;
    }

    .sidebar-content {
      text-align: left;
      padding: 0px 20px;
    }

    .sidebar-content img {
      width: 400px;
      height: auto;
      border-radius: 5px;
    }

    .image-container {
      text-align: center;
    }

    #search-container-mobile {
      display: none;
      text-align: center;
      background-color: #450047;
      margin: 0;
      padding: 10px 0;
      border: #28001e solid 1px;
    }

    #search-container-mobile input {
      width: 80%;
      padding: 5px;
      border: none;
      background: #111;
      color: white;
    }

    #search-container-mobile h3 {
      margin: 0;
      padding: 5px 0; /* optional: add some space if you want balance */
    }

    @media (max-width: 1650px) {
      .sidebar {
        padding-top: 0;
        max-width: 400px;
      }

      .sidebar-content img {
        width: 90%;   /* make image responsive */
        max-width: 350px;
      }

      #search-container-desktop input {
        width: 75%;
      }
    }

    @media (max-width: 1275px) {
      #search-container-desktop {
        display: none;
      }

      .sidebar {
        max-width: none;
        width: 100%;
      }

      #search-container-mobile {
        display: block;
      }
    }